*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	margin: auto;
}
.top{
	width: 100%;
	height: 79px;
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	border-bottom: solid 2px #D9D9D9;
}
.top0{
	width: 1200px;
	height: 79px;
}
.top-left{
	width: 200px;
	height: 79px;
	float: left;
}
.top-left a{
	display: inline-block;
	width: 200px;
	height: 60px;
	background-image: url(../img/b2.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
}
.top-right{
	width: 600px;
	height: 79px;
	float: right;
}
.top-right li{
	width: 82px;
	height: 79px;
	float: right;
	text-align: center;
	line-height: 79px;
}
.top-right li a{
	color: #2A333C;
	font-size: 14px;
}
.top-right li a:hover{
	color: #16B0DC;
}
.main{
	width: 100%;
	height: 2300px;
	background-color: #F2F2F2;
	position: absolute;
	top: 81px;
}
.main-top{
	width: 100%;
	height: 120px;
	text-align: center;
}
.main-top h1{
	color: #F67A82;
	line-height: 120px;
	font-weight: normal;
	font-size: 36px;
}
.main-c{
	width: 100%;
	height: 2120px;
	margin-top: 20px;
}
.main-cc{
	width: 1170px;
	height: 2060px;
}
.main-l{
	width: 820px;
	height: 2060px;
	padding: 0px 30px;
	background-color: white;
	float: left;
}
.main-l ul{
	width: 820px;
	height: 2060px;
}
.main-l ul li{
	width: 820px;
	height: 148px;
/*	background-color: red;*/
	padding: 30px 0px 60px 0px;
	border-bottom: solid 2px #F0F2F5;
}
.l-left{
	width: 148px;
	height: 148px;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
}
.l-left a img{
	width: 160px;
	height: 160px;
}
.l-right{
	width: 640px;
	height: 176px;
	float: right;
	text-align: left;
}
.l-right a{
	display: inline-block;
	width: 640px;
	height: 25px;
	font-size: 22px;
	color: #2A333C;
	margin-bottom: 20px;
}
.l-right a:hover{
	color: #16B0DD;
	text-decoration: underline;
}
.l-right h4{
	color: #838D96;
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 16px;
}
.l-right p{
	color: #ACC1DC;
}
.main-l ul span {
	width: 824px;
	height: 80px;
}
.main-l ul span ul{
	width: 300px;
	height: 44px;
	margin-top: 36px;
}
.main-l ul span ul a li{
	width: 39px;
	height: 39px;
	border: solid 1px #E4EAEC;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
}
.main-l ul span ul a{
	line-height: 39px;
	color: #76838F;
	display: block;
}
.main-l ul span ul a:hover{
	background-color: #F5F5F5;
}
.main-r{
	width: 222px;
	height: 314px;
	float: right;
	background-color: white;
	padding: 20px;
}
.text{
	border: solid 1px #E4EAEC;
	border-radius: 100px;
	width: 222px;
	height: 36px;
	color: #A3AFB7;
	text-indent: 1em;
	outline: none;
	margin-bottom: 20px;
}
.main-r div{
	width: 222px;
	height: 164px;
	padding: 20px 0px;
	border-top: solid 1px #E4EAEC;
	border-bottom: solid 1px #E4EAEC;
}
.main-r div h3{
	font-weight: normal;
	color: #37474F;
	margin-bottom: 10px;
}
.main-r div ul{
	width: 222px;
	height: 130px;
}
.main-r div ul li{
	width: 222px;
	height: 42px;
	border: solid 1px #E4EAEC;
	text-indent: 1em;
}
.main-r div ul li a{
	color: #2A333C;
	font-size: 16px;
	line-height: 44px;
}
.main-r div h4{
	font-weight: normal;
	color: #37474F;
	margin-top: 40px;
}
.footer{
	width: 100%;
	height: 182px;
	position: absolute;
	top: 2379px;
}
.footer-top{
	width: 100%;
	height: 20px;
	border-top: solid #F0F2F5 2px;
}
.footer-bottom{
	width: 100%;
	height: 160px;
	background-color: #F5F5F5;
}
.footer-bottom div{
	width: 100%;
	height: 26px;
	padding: 15px 0px;
	text-align: center;
}
.footer-bottom div a{
	margin: 0px 10px;
}
.a{
	color: #62A8EA;
	font-size: 14px;
}
.a:hover{
	text-decoration: underline;
}
.fp{
	color: #AAAAAA;
	font-size: 14px;
	margin: 8px 0px;
}
.back{
	position: fixed;
	width: 38px;
	height: 38px;
	right: 10px;
	bottom: -38px;
	transition: all 1s;
}